<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://
mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射器 -->
<!-- 命名空间:绑定接口,最好是使用完全限定名 -->
<mapper namespace="com.pc.mybatis.GetUserInfo">
    <!-- 查询 -->
    <!-- id:对应接口的方法名 -->
    <!-- parameterType:参数类型 -->
    <!-- resultType:结果类型 -->
    <select id="getUser" parameterType="integer" resultType="com.pc.mybatis.User">
        select id, userName, corp from user where id = #{id}
    </select>
</mapper>